/* purgecss start ignore */
.page-enter-active, .page-leave-active,
.fade-enter-active, .fade-leave-active {
  transition: opacity .4s ease;
}
.page-enter, .page-leave-active,
.fade-enter, .fade-leave-active {
  opacity: 0;
}

.highlight {
  background: yellow;
}

.faq table {
  background-color: transparent;
  border: 1px solid #dee2e6;
}

.faq table th,
.faq table td {
  text-align: left;
  padding: 0.3rem 0.75rem;
  vertical-align: top;
  border: 1px solid #dee2e6;
  white-space: nowrap;
}

.faq table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.faq ul,
.faq ol {
  padding-left: 2rem;
}
/* purgecss end ignore */