/* purgecss start ignore */
.page-enter-active, .page-leave-active,
.fade-enter-active, .fade-leave-active {
  transition: opacity .4s ease;
}
.page-enter, .page-leave-active,
.fade-enter, .fade-leave-active {
  opacity: 0;
}

.highlight {
  background: yellow;
}

svg .line1 {
  stroke-dasharray: 2px;
  stroke-dashoffset: 2px;
  animation: offset .4s linear forwards;
}

svg .line2,
svg .line3 {
  stroke-dasharray: 10px;
  stroke-dashoffset: 11px;
  animation: offset .8s linear forwards;
}

svg .line2 {
  animation-delay: .4s;
}

svg .line3 {
  animation-delay: 1.2s;
}

@keyframes offset {
  to {
    stroke-dashoffset: 0px;
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.faq h2 {
  font-size: 1.8rem;
  color: #22292f;
  margin-bottom: 0.75rem;
}

.faq h3 {
  font-size: 1.4rem;
  color: #22292f;
  margin-bottom: 0.75rem;
}

.faq h3:before {
  content: '#';
  display: inline-block;
  margin-top: 1rem;
  margin-right: 5px;
  color: #22292f;
}

.faq p {
  margin-bottom: 1rem;
}

.faq table {
  width: 100%;
  background-color: transparent;
  border: 1px solid #dee2e6;
  border-collapse: collapse;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.faq table th,
.faq table td {
  background: #fcfcfc;
  text-align: left;
  padding: 0.3rem 0.75rem;
  vertical-align: top;
  border: 1px solid #dee2e6;
  white-space: nowrap;
}

.faq table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.faq ul,
.faq ol {
  padding-left: 2rem;
}
/* purgecss end ignore */